<div class="page-title">
    <legend>Rentabilité</legend>
</div>

<div class="main">
    <div class="card card-section">
        <div class="card-body">
            <h3>Produits à durée fixe</h3>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prix de vente</th>
                        <th>Ventes</th>
                        <th>Prix réel</th>
                        <th>Revenu horaire</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of volumeProducts">
                        <td>{{ product.product_name }}</td>
                        <td>{{ product.product_price }} €</td>
                        <td>{{ product.sales }}</td>
                        <td>{{ product.median_price }} €</td>
                        <td>{{ product.hourly_rate }} €</td>
                    </tr>
                </tbody>
            </table>

            <h3>Produits illimités</h3>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prix de vente</th>
                        <th>Ventes</th>
                        <th>Prix réel</th>
                        <th>Revenu hebdomadaire</th>
                        <th>Utilisations</th>
                        <th>Revenu horaire</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of timeProducts">
                        <td>{{ product.product_name }}</td>
                        <td>{{ product.product_price }} €</td>
                        <td>{{ product.sales }}</td>
                        <td>{{ product.median_price }} €</td>
                        <td>{{ product.weekly_rate }} €</td>
                        <td>{{ product.usages }}</td>
                        <td>{{ product.hourly_rate}} €</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>